@font-face{
    font-family: "lato";
    src: url(../font/Lato-Regular.eot) format(eot);
    src: url(../font/Lato-Regular.woff) format(woff);
    src: url(../font/Lato-Regular.ttf) format(truetype);
    src: url(../font/Lato-Regular.svg#lato) format(svg);
}